<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.bagle.app4h">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EmailPasswordActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".UpdateUserInfo"
            android:label="@string/activity_update_user_info"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.MainActivity"/>
        </activity>
        <activity
            android:name=".AddDialogMainActivity"
            android:label="@string/click_to_add_item_full"
            android:theme="@style/AppTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.MainActivity"/>
        </activity>
        <activity
            android:name=".AddProject"
            android:label="@string/title_activity_add_project"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.AddDialogMainActivity"/>
        </activity>
        <activity
            android:name=".ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.MainActivity"/>
        </activity>
        <activity
            android:name=".AddDialogProject"
            android:label="@string/add_new_project_record"
            android:theme="@style/AppTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectActivity"/>
        </activity>
        <activity
            android:name=".ProjectFinanceActivity"
            android:label="@string/title_activity_project_finance"
            android:parentActivityName=".ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectActivity"/>
        </activity>
        <activity
            android:name=".AddFinance"
            android:label="@string/title_activity_add_finance_dialog"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectFinanceActivity"/>
        </activity>
        <activity
            android:name=".ProjectMeetingActivity"
            android:label="@string/title_activity_project_meeting"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectActivity"/>
        </activity>
        <activity
            android:name=".ProjectGoalsActivity"
            android:label="@string/title_activity_project_goals"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectActivity"/>
        </activity>
        <activity
            android:name=".AddMeeting"
            android:label="@string/title_activity_add_meeting"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectMeetingActivity"/>
        </activity>
        <activity
            android:name=".AddGoal"
            android:label="@string/title_activity_add_goal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectGoalsActivity"/>
        </activity>
        <activity
            android:name=".ProjectAnimalHealthActivity"
            android:label="@string/title_activity_animal_health"
            android:parentActivityName=".ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectActivity"/>
        </activity>
        <activity
            android:name=".ProjectOtherActivity"
            android:label="@string/title_activity_project_other"
            android:parentActivityName=".ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectActivity"/>
        </activity>
        <activity
            android:name=".ProjectAnimalWeightActivity"
            android:label="@string/title_activity_project_animal_weight"
            android:parentActivityName=".ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectActivity"/>
        </activity>
        <activity
            android:name=".ProjectLeadershipActivity"
            android:label="@string/title_activity_project_leadership"
            android:parentActivityName=".ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bagle.app4h.ProjectActivity"/>
        </activity>
        <activity
            android:name=".AddLeadership"
            android:label="@string/title_activity_add_leadership"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddWeight"
            android:label="@string/title_activity_add_weight"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddHealth"
            android:label="@string/title_activity_add_health"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".GeneratePDF">
        </activity>
    </application>

</manifest>